body {
	background-color: #ffe4c4;
	color: #696969;
}

main {
	background-color: #ffefd5;
}

#title {
	font-family: Comic-Sans;
	text-align: center;
}

#img-div {
	background-color: #ffe4c4;
	margin: 0px 20px 0px 20px;
	border-radius: 20px;
	display: grid;
	grid-column: 1fr 1fr 1fr 1fr;
	grid-row: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
      "blank image blank"
      "blank . blank"
      ". . ."
      "footer footer footer";
}

#image {
	grid-area: image;
	border-radius: 15px;
	margin: 10px 0px 10px 0px;
	max-width: 100%;
  	display: block;
  	height: auto;
}

#img-caption {
	margin: 10px 0px 10px 25px;
}

#tribute-info {
	margin: 0px 100px 0px 100px;
}

#list li {
	margin-top: 10px;
}

#tribute-link {
	color: #ff00ff;
}

#tribute-link:hover {
	font-size: 18px;
	color: #ffb6c1;
}

@media (max-width: 800px) {
    p {
      font-size: 10px;
    }
    
    li {
    	font-size: 10px;
    }

    ul {
    	font-size: 10px;
    }

    h2 {
    	font-size: 20px;    	
    }

    #tribute-info {
	margin: 0px 20px 0px 20px;
	}

	#image {
	grid-area: image;
	border-radius: 15px;
	margin: 0px 0px 0px 0px;
	max-width: 100%;
  	display: block;
  	height: auto;
	}

	#tribute-link:hover {
	font-size: 12px;
	color: #ffb6c1;
	}
}